{% extends 'base.html' %}
{% load static %}
{% block title %} Listing {% endblock %}
{% block description %} Listing {% endblock %}

{% block css %}
    <link href="{% static '/custom_css/home.css' %}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block content %}

    <div class="container-fluid my-3" id="header">
        <div class="row">
            <div class="container-fluid d-flex justify-content-center" id="buttons">
                <a href="{% url 'visitor-home' %}">Calendar</a>
                <a class="text-decoration-none" href="{% url 'visitor-create' %}">
                    Add Travel
                </a>
            </div>
        </div>
    </div>
    <!--Display Listing of the Travel Data-->
    <div class="container">
        <div class="row">
            <h3>Travel Listing</h3>
            <div class="col-12 ">
                <div class="row">
                    <h4>Filter</h4>
                    <div class="col-md-3 col-sm-12">
                        <label class="m-t-0"><b>From</b></label>
                        <input type="date" name="startdate" id="startdate" class="form-control" value="">
                    </div>


                    <div class="col-md-3 col-sm-12">
                        <label class="m-t-0 text-left"><b>To</b></label>
                        <input type="date" name="enddate" id="enddate" class="form-control" value="">
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="m-t-0">&nbsp;</div>
                        <button class="btn btn-primary" id="check-records"
                                name="check-records">Search
                        </button>
                        <button class="btn btn-danger" id="reset-records"
                                name="reset-records">Reset
                        </button>
                    </div>
                </div>
            </div>
            <div class="card table-responsive py-3 px-2 m-2">
                <table id="travel-datatable" class="table table-striped table-bordered dt-responsive nowrap"
                       style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="https://apis.google.com/js/api.js"></script>

    <script src='{% static "custom_js/listing.js" %}'></script>

    <script>
        let data;
        window.onload = function () {
            data = {
                "delete_url": "{% url 'user-travel-data-delete' %}",
                "travel_datatable_url": "{% url 'travel_datatable_url' %}",
                "create_url": "{% url 'visitor-create' %}"
            };

            new Listing(data);
        }
    </script>
{% endblock %}