{% extends 'base.html' %}
{% load static %}
{% block title %} Traveller {% endblock %}
{% block description %} Traveller {% endblock %}

{% block css %}
<link href="{% static '/custom_css/home.css' %}" rel="stylesheet" type="text/css"/>


{% endblock %}

{% block content %}

<div id="map">
    <center><img src="{% static 'images/loader.gif' %}"></center>
</div>

        <div class="container-fluid d-flex justify-content-center" style="position: absolute; bottom: 10px" id="buttons">
            <a href="{% url 'visitor-home' %}">Home</a>
        </div>

{% endblock %}

{% block js %}
<script src="https://apis.google.com/js/api.js"></script>

<!-- prettier-ignore -->
<script>(g => {
    var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document,
        b = window;
    b = b[c] || (b[c] = {});
    var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams,
        u = () => h || (h = new Promise(async (f, n) => {
            await (a = m.createElement("script"));
            e.set("libraries", [...r] + "");
            for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
            e.set("callback", c + ".maps." + q);
            a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
            d[q] = f;
            a.onerror = () => h = n(Error(p + " could not load."));
            a.nonce = m.querySelector("script[nonce]")?.nonce || "";
            m.head.append(a)
        }));
    d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
})
();</script>

<script src='{% static "custom_js/map-detail.js" %}'></script>

<script>
    let data;
    window.onload = function () {
        data = {
            "map_detail_url": "{% url 'map_detail_url'%}",
        };
        new MapDetail(data);
    }
</script>
{% endblock %}